<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rules" type="AlertActioner.RulesFileSection, AlertActioner"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <rules Location="C:\Temp\ExampleRules.json" />
</configuration>
